pipeline/Parent_Pipeline.json
{
	"name": "Parent_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteOnprem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Onprem_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						},
						"p_category_mapping": {
							"value": "@pipeline().parameters.p_category_mapping",
							"type": "Expression"
						},
						"p_customer_mapping": {
							"value": "@pipeline().parameters.p_customer_mapping",
							"type": "Expression"
						},
						"p_product_mapping": {
							"value": "@pipeline().parameters.p_product_mapping",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ExecuteAPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnprem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "API_Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteSQL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteAPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQL Ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecuteSQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-16.northcentralus.logic.azure.com:443/workflows/d5419a6145c049c1a8b771e6ac7ca675/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hC64ycirVBK4nZyhVWKXhw031_OOCXzIcOTPaHCvRlc",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('ExecuteSQL').Status}\",\n    \"error\": \"@{if(equals(activity('ExecuteSQL').Status,'Failed'), string(activity('ExecuteSQL').error), 'No error')}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimCategory.csv"
					},
					{
						"file_name": "DimCustomer.csv"
					},
					{
						"file_name": "DimProduct.csv"
					}
				]
			},
			"p_category_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "category_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "category_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "category_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "category_name",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_customer_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "full_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "gender",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "age",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "country",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_product_mapping": {
				"type": "string",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "product_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "product_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "product_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "product_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "category",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "category",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-10-08T11:24:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}